/*  
COLORS :

#caa171 - top header  link orange.

    1. FONT    STYLES
    2. RESET   STYLES
    3. GENERAL STYLES
    4. HEADER  STYLES
*/

/*1. FONT    STYLES*/

@font-face {
    font-family: 'franklin_gothic_medium_condRg';
    src: url('../fonts/framdcn-webfont.eot');
    src: url('../fonts/framdcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/framdcn-webfont.woff') format('woff'),
         url('../fonts/framdcn-webfont.ttf') format('truetype'),
         url('../fonts/framdcn-webfont.svg#franklin_gothic_medium_condRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'machinecregular';
    src: url('../fonts/machinec-webfont.eot');
    src: url('../fonts/machinec-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/machinec-webfont.woff') format('woff'),
         url('../fonts/machinec-webfont.ttf') format('truetype'),
         url('../fonts/machinec-webfont.svg#machinecregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* 2. RESET   STYLES */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*3. GENERAL    STYLES*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body {
  background: #2e1004;
  font-family: 'machinecregular';
  font-size: 16px;
  line-height: 1;
  color: #767676;
}
a {
    text-decoration: none
}
a:hover {
    text-decoration: underline;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
header {
    background: #000 url(../i/markup/bg-main.png) center center no-repeat;
    height: 395px;
}
.main {
    background: url(../i/markup/bg-top-main.png) top center no-repeat;
    min-height: 1000px;
}
.wrapper {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}
footer {
    min-height: 220px;
    background: url(../i/markup/bg-footer.png) no-repeat;
}

/*4. HEADER  STYLES*/

.top-header {
    background: url(../i/markup/pattern-header.png);
    height: 27px;
    line-height: 27px;
}
.top-header__link {
    color: #caa171;
    font-family: Arial;
    font-size: 12px;
}
.top-header__item {
    float: left;
    margin: 0 0 0 30px;
}
.top-header__item--stick {
    background: url(../i/markup/stick.png) right center no-repeat;
    padding: 0 30px 0 0;
}
.center-header {
    height: 230px;
    margin: 20px 0 0 0;
}
.center-header .wrap-logo {
    float: left;
}
.logo-link {
    display: block;
}
.wrap-text {
    width: 530px;
    float: right;
    padding: 80px 0;
}
.wrap-text strong {
    color: #fff;
    display: block;
    text-shadow: -1px 2px 2px rgba(0,0,0, .77);
    text-transform: uppercase;
    font-size: 24px;
}
.bottom-header .wrapper {
    height: 108px;
    background: url(../i/markup/bg-main-menu.png) no-repeat;
}
.main-menu-list {
    font-family: 'franklin_gothic_medium_condRg';
    line-height: 108px;
    padding: 0 30px;
}
.main-menu-list__item {
    float: left;
    margin: 0 16px;
}
.main-menu-list__link {
    font-size: 18px;
    color: #f3c38b;
}
.main-menu-list--second {
    background: url(../i/markup/bg-main-menu-second.png) no-repeat;
    width: 182px;
    height: 56px;
    position: absolute;
    top: -20px;
    right: 100px;
    line-height: 56px;
}
.main-menu-list--second__item {
    float: left;
    margin: 0 0 0 15px;
}
.main-menu-list--second__link {
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 12px;
}
.main-menu-list--second .top-header__item--stick {
    padding: 0 12px;
}