/*  
COLORS :

#caa171 - top header  link orange.

    1. FONT    STYLES
    2. RESET   STYLES
    3. GENERAL STYLES
    4. HEADER  STYLES
    5. SECTION MAIN STYLES
    6. SECTION BOTTOM STYLES
    7. BOOK PAGE STYLES
    8. PAGE VIDEO STYLES
    9. FEEDBACK PAGE STYLES
    10.PAYMENT - POPUP STYLES
*/

/*1. FONT    STYLES*/

@font-face {
    font-family: 'franklin_gothic_medium_condRg';
    src: url('../fonts/framdcn-webfont.eot');
    src: url('../fonts/framdcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/framdcn-webfont.woff') format('woff'),
         url('../fonts/framdcn-webfont.ttf') format('truetype'),
         url('../fonts/framdcn-webfont.svg#franklin_gothic_medium_condRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'machinecregular';
    src: url('../fonts/machinec-webfont.eot');
    src: url('../fonts/machinec-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/machinec-webfont.woff') format('woff'),
         url('../fonts/machinec-webfont.ttf') format('truetype'),
         url('../fonts/machinec-webfont.svg#machinecregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* 2. RESET   STYLES */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input:active, input:focus, textarea:active, textarea:focus  {
    outline: none;
}

/*3. GENERAL    STYLES*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body {
  font: 400 16px 'machinecregular', Arial, sans-serif;
  line-height: 1;
  color: #767676;
  background: #2e1004 url(../images/markup/body-bg.png);
  position: relative;
  min-width: 1100px;
}
a {
    text-decoration: none
}
a:hover {
    text-decoration: underline;
}
strong {
    color: #fff;
    display: block;
    text-shadow: -1px 2px 2px rgba(0,0,0, .77);
    text-transform: uppercase;
}
h1 {
    text-transform: uppercase;
    color: #f3c38b;
    font-size: 48px;
}
p {
    font: 400 12px Arial , sans-serif;
    color: #aaa;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
header {
    background: #000 url(../images/markup/bg-main.png) center center no-repeat;
    height: 379px;
}
.main {
    background: url(../images/markup/bg-top-main.png) top center no-repeat;
    min-height: 1000px;
}
.wrapper {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}
footer {
    min-height: 220px;
    background: url(../images/markup/bg-footer.png) repeat-x;
    color: #fff;
}

/*4. HEADER  STYLES*/

.top-header {
    background: url(../images/markup/pattern-header.png);
    height: 27px;
    line-height: 27px;
}
.top-header__link {
    color: #caa171;
    font: 400 12px Arial , sans-serif;
    line-height: 27px;
}
.top-header__item {
    float: left;
    margin-left: 30px;
}
.top-header__item--stick {
    background: url(../images/markup/stick.png) right center no-repeat;
    padding: 0 30px 0 0;
}
.center-header {
    height: 194px;
    margin: 36px 0 0;
}
.center-header .wrap-logo {
    float: left;
}
.logo-link {
    display: block;
}
.wrap-text {
    width: 516px;
    float: right;
    padding: 57px 0;
    line-height: 26px;
}
.wrap-text strong {
    color: #fff;
    display: block;
    text-shadow: -1px 2px 2px rgba(0,0,0, .77);
    text-transform: uppercase;
    font-size: 24px;
}
.bottom-header .wrapper {
    height: 108px;
}
.main-menu-list {
    font-family: 'franklin_gothic_medium_condRg';
    line-height: 150px;
    padding: 0 25px;
    background: url(../images/markup/bg-main-menu.png) no-repeat;
}
.main-menu-list__item {
    float: left;
    margin: 0 16px;
}
.main-menu-list__link {
    font-size: 18px;
    color: #f3c38b;
}
.main-menu-list--second {
    width: 182px;
    height: 52px;
    position: absolute;
    top: 16px;
    right: 34px;
    line-height: 17px;
}
.main-menu-list--second__item {
    float: left;
    margin-left: 15px;
}
.main-menu-list--second__link {
    color: #fff;
    font: 400 12px Arial , sans-serif;
}
.main-menu-list--second .top-header__item--stick {
    padding: 0 12px;
}
.main-top-header {
    height: 382px;
    background: url(../images/markup/bg-main-menu-bottom.png) no-repeat;
    padding: 15px;
    box-sizing: border-box;
}

/*5. SECTION MAIN STYLES*/

.main-top-header strong {
    font-size: 30px;
    padding: 17px 0 0 22px;
    display: block;
}
.important-list {
    padding: 7px 15px;
    height: 300px;
}
.important-list__item {
    float: left;
    margin-right: 39px;
}
.important-list__item:last-child {
    margin: 0;
}
.important-list__link {
    display: block;
    text-align: center;
}
.important-list__link:hover {
    text-decoration: none;
}
.important-list__link strong {
    text-shadow: none;
    font-size: 20px;
    padding: 18px 0 0;
}
.main h1 {
    margin: 6px 0 32px 0;
}
.howdoit-list {}
.howdoit-list__item {
    float: left;
    margin: 0 15px 42px 0;
    width: 356px;
}
.howdoit-list__link {
    display: block;
    height: 137px;
}
.howdoit-list__link:hover {
    text-decoration: none;
}
.howdoit-list__link img {
    float: left;
    margin-right: 10px;
}
.howdoit-list__link .wrap-text__how {
    padding: 10px 0;
}
.howdoit-list__item:nth-child(3n) {
    margin: 0;
}
.howdoit-list__link strong {
    font-size: 20px;
    margin-bottom: 24px;
}
.howdoit-list__link p {
    max-height: 55px;
    overflow: hidden;
    line-height: 14px;
}
.wrap-btn {
    height: 18px;
    margin: -12px 0 33px 0;
}
.more-link {
    font-size: 18px;
    color: #f3c38b;
    background: url(../images/markup/arrow-link.png) right center no-repeat;
    float: right;
    padding: 0 25px 0 0;
}
.wrap-teas img {
    float: left;
    margin-right: 25px;
}
.wrap-teas p {
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}
.main-menu-list--bottom {
    background: url(../images/markup/bg-main-menu-bottom-menu.png) no-repeat;
    margin: 10px 0 0;
}
/*6. SECTION BOTTOM STYLES*/
.bottom {
    min-height: 290px;
    background: url(../images/markup/bg-bottom-section.png) top center no-repeat;
    margin: -80px 0 0;
    padding: 60px 0 0;
    box-sizing: border-box;
}
.bottom-text {
    font-size: 11px;
    color: #fff;
    display: table-cell;
    vertical-align: bottom;
    padding: 0 0 30px 0;
}
.bottom .wrapper {
    height: 265px;
    display: table;
}
.bottom-list {
    position: absolute;
    bottom: 90px;
}
.bottom-list__item {
    float: left;
    margin: 0 10px 0 0;
}
.bottom-list__link {
    font: 400 12px Arial , sans-serif;
    color: #fff;
    text-decoration: underline;
}
.bottom-list__link:hover {
    text-decoration: none;
}
footer p {
    color: #fff;
    padding: 29px 0 0;
}
/*7. book page*/
.main--book-page {
    padding: 56px 0 0;
    position: relative;
}
.main-page {
    background: url(../images/markup/bg-page.png);
    min-height: 1000px;
    border-top-right-radius: 10px;  border-bottom-right-radius: 10px;  border-bottom-left-radius: 10px;
    padding: 23px;
}
.one-tab {
    width: 166px;
    height: 45px;
    background: url(../images/markup/bg-tab-page.png) no-repeat;
    position: absolute;
    top: -45px;
    left: 0;
    line-height: 59px;
}
.one-tab h2 {
    padding-left: 26px;
    font-size: 30px;
    color: #fff;
}
.tab-header {
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    padding: 15px 0 0 55px;
    line-height: 16px;
}
.block-content {
    padding: 0px 100px 0 55px;
    position: relative;
    background: url(../images/markup/ico-section.png) top left no-repeat;
    margin: 30px 0 33px 0;
}
.block-content__header {
    font-family: 'franklin_gothic_medium_condRg';
    font-size: 24px;
    color: #f3c38b;
}
.block-content__author {
    font: 400 12px Arial , sans-serif;
    color: #80827d;
    margin: 9px 0 14px 0;
    display: block;
}
.block-content__text {
    color: #b3b3b3;
    padding: 12px 0 0;
    border-top: 1px dashed #b3b3b3;
    line-height: 14px;
    margin-right: 15px;
}
.block-content__download-link {
    width: 105px;
    color: #80827d;
    font: 400 12px Arial , sans-serif;
    height: 50px;
    position: absolute;
    right: 6px;
    top: 35px;
    background: url(../images/markup/ico-download.png) 53px 3px no-repeat;
    line-height: 50px;
}
.pagin-list {
    text-align: center;
    margin: 0px auto;
    height: 25px;
}
.pagin-list__item {
    font-size: 24px;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}
.pagin-list__link {
    color: #8f9887;
    font-family: 'franklin_gothic_medium_condRg';
}
.pagin-list__link--active {
    color: #f3c38b;
}
.pagin-list__link--active:after, .pagin-list__link:after {
    content: "-";
    position: absolute;
    top: 2%;
    z-index: 20;
    right: -13px;
}
.pagin-list__link--active:before {
    content: "-";
    position: absolute;
    top: 0%;
    z-index: 22;
    left: -13px;
}
.pagin-list__link:after  {
    content: "-";
    top: 0%;
    z-index: 10;
    right: -18px;
}
.pagin-list__item:last-child .pagin-list__link:after {
    content: " ";
}
.bottom-book-page .wrapper {
    height: 343px;
}
/*8. PAGE VIDEO*/
.block-content__author span {
    color: #fff;
}
.main--video-page .block-content {
    background: none;
    padding-left: 45px;
    margin: 45px 0 55px 0;
    padding: 0px 0px 0 55px;
}
.wrap-video {
    width: 392px;
    height: 234px;
    background: #acb4a4;
    float: left;
    margin-right: 20px;
}
.block-content-wrap {
    float: left;
    width: 570px;
    margin-left: 12px;
}
.bottom-video-page .wrapper {
    min-height: 336px;
}
/*9. FEEDBACK PAGE STYLES*/
.feedback-form {
    width: 293px;
    font: 400 14px Arial , sans-serif;
    color: #f5f5f5;
    font-size: 14px;
    margin: 80px 0 0 143px;
}
.feedback-form h5 {
    margin-bottom: 40px;
}
.feedback-form label {
    display: block;
    margin: 16px 0 10px 0;
    font-weight: bold;
}
.feedback-form input {
    border: 1px solid #5b6057;
    background: #191d15;
    border-radius: 5px;
    width: 281px;
    height: 29px;
    color: #fff;
    padding-left: 10px;
}
.feedback-form textarea {
    border: 1px solid #5b6057;
    background: #191d15;
    border-radius: 5px;
    width: 281px;
    height: 127px;
    margin-bottom: 20px;
    max-height: 140px;
    resize: none;
    color: #fff;
    padding: 10px 0 0 10px;
}
.feedback-form .send-btn {
    cursor: pointer;
    width: 168px;
    border: none;
    height: 47px;
    background: url(../images/markup/sprite-send-btn.png) no-repeat;
    float: right;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgba(0,0,0,.75);
}
.feedback-form .send-btn:hover {
    background-position: 0px -53px;
}
/* 10.PAYMENT - POPUP STYLES */
.payment-popup {
    width: 974px;
    height: 560px;
    background: url(../images/markup/bg-page.png);
    position: fixed;
    top: 100px;
    left: 50%;
    border-radius: 5px;
    margin: 0 0 0 -487px;
    z-index: 9999;
}
.payment-popup h1 {
    font-size: 36px;
    text-align: center;
    color: #4a5342;
    letter-spacing: 0.5px;
    height: 93px;
    line-height: 93px;
    background: #f5f5f5;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.payment-form {
    background: #22261d;
    border: 1px solid #62685d;
    border-radius: 5px;
    margin: 31px auto 29px;
    width: 656px;
    height: 299px;
    font-family: Arial, sans-serif;
    padding: 20px 0 0;
    box-sizing: border-box;
}
.text-notice {
    width: 708px;
    font-size: 11px;
    color: #666;
    margin: 2px 0 0 150px;
}
.wrap-field {
    width: 274px;
    margin: 10px 0 9px 159px;
    height: 35px;
    position: relative;
    padding: 5px;
}
.wrap-field span {
    font-weight: bold;
    font-size: 14px;
    color: #fff
}
.wrap-input {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 104px;
    box-sizing: border-box;
    height: 41px;
    background: url(../images/markup/bg-label-payment.png) no-repeat;
    padding: 10px 14px;
}
.wrap-field-input span {
    display: block;
    margin-bottom: 12px;
}
.wrap-field-input input {
    background: #c3c8bf;
    border: 2px solid #939d89;
    border-radius: 5px;
    width: 286px;
    box-sizing: border-box;
    padding: 0 0 0 10px;
    height: 34px;
}
.wrap-field-btn {
    height: 50px;
    margin: 33px auto;
}
.go-btn {
    width: 142px;
    height: 45px;
    background: url(../images/markup/bg-go-btn.png) no-repeat;
    float: right;
    margin-right: 10px;
    color: #fff;
    font-size: 18px;
    border: none;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    font-family: 'machinecregular';
}
input[type=radio].payment-checkbox {
    display:none;
}
input[type=radio].payment-checkbox + label.payment-label {
    padding-left:27px;
    height:22px; 
    display:inline-block;
    line-height:22px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size: 12px;
    color: #fff;
    vertical-align:middle;
    cursor:pointer;
}
input[type=radio].payment-checkbox:checked + label.payment-label {
    background-position: 0 -22px;
}
label.payment-label {
    background-image:url(../images/markup/payment-checkbox.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.obtain-form .wrap-field {
    width: 609px;
    margin: 0 auto;
    text-align: center;
}
.obtain-label {
    font-size: 12px;
    color: #fff;
    display: inline-block;
    vertical-align: 2px;
}
.obtain-form__text {
    width: 617px;
    margin: 31px auto 18px;
    color: #fff;
    line-height: 17px;
    font-size: 14px;
}
.obtain-form .go-btn {
    float: none;   
}
.obtain-form .wrap-field__obtain {
    text-align: left;
    width: 623px;
}
.send-form .obtain-form__text {
    margin: 10px 0 0 70px;
    font-weight: bold;
}
.send-form .wrap-field-btn {
    margin: 33px auto 0px;
}
.wrap-field__obtain {
    width: 478px;
    margin: 0 auto;
}
.send-form {
    padding: 14px 0 0;
}
.wrap-field-input {
    margin: 21px 0 0 160px;
}
.send-form .go-btn {
    margin: 0 10px 0 0;
    background-size: 100%;
}
.send-form .obtain-label {
    width: 450px;
    margin: 11px 0 0;
    vertical-align: -9px;
    line-height: 13px;
}
.wrap-popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.85;
}